/* ng-conf-israel Website Stylesheet */
$ngbackground: #333;
$ngbackground-light: #666;
$ngcolor: #d84437;
$ngcolor-dark: #af362c;
$ngcolor2: #e6e6e6;
$ngcolor2-dark: #c0c0c0;
$ngtext-light: white;
$headerHeight: 60px;
$pageMaxWidth: 1170px;

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    background-color: rgba($ngbackground, 0.8);
    color: $ngtext-light;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    z-index: 9999;
    transform: translate3d(0, 0, 0);

    .header-content {
        max-width: $pageMaxWidth;
        padding: 7px 0;
        margin: 0 auto;
    }

    h1 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
        text-transform: uppercase;
        padding-left: 12px;
    }

    h2 {
        color: white;
        font-size: 17px;
        font-weight: 300;
        display: inline-block;
        text-align: center;
        position: relative;
        bottom: 1px;
        left: 5px;
    }

    .logo-submit a {
        float: right;
        margin-right: 12px;
        span {
            padding: 0 9px;
        }
    }

    .ng-cta-button {
        font-size: 18px;
        line-height: 1.33;
        float: right;
        margin-top: 4px;
        background-color: $ngcolor;
        border: solid $ngcolor 1px;
        text-transform: uppercase;
        color: white;
        padding: 8px 14px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $ngcolor-dark;
            border-color: $ngcolor-dark;
            background-color: white;
        }
    }
    .show-location-mobile {
        position: absolute;
        top: 7px;
        font-size: 11px;
        left: 12px;
        color: rgb(194, 194, 194);
    }
}

section.hero-section {
    background: $ngbackground;
    text-align: center;
    overflow: hidden;

    video {
        max-width: 100%;
        max-height: 100%;
        margin-top: $headerHeight;
        opacity: 0.3;
    }

    .content {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;

        h2 {
            width: 100%;
            color: $ngcolor2;
            font-size: 82px;
            margin-top: 200px;
            > small {
                display: block;
                font-weight: bold;
                text-align: right;
                font-size: 22px;
                margin: 0 auto;
                width: 280px;
                color: #999;
            }
        }

        img.angular-logo {
            margin-right: 32px;
            vertical-align: middle;
            width: 138px;

        }
    }
}

.sponsor-logos {
    background-color: $ngcolor2;
    padding: 0.4em 0;
    text-align: center;

    img, span {
        vertical-align: middle;
        margin-right: 64px;
        max-width: 194px;
        width: 194px;
    }

    .logo-wix {
        width: 280px;
        max-width: 280px;
    }
}

section .section-content {
    padding: $headerHeight 1em;
    max-width: $pageMaxWidth;
    min-height: 250px;
    margin: 0 auto;

    h2 {
        margin: 8px 0 ($headerHeight / 2);
        text-align: center;
        text-transform: uppercase;
        color: $ngcolor;
        font-size: 30px;
        font-weight: normal;
    }

    &:after {
        display: block;
        content: " ";
        clear: both;
    }
}

section.section-dark {
    background: $ngbackground-light;
    color: $ngcolor2;

    h2 {
        color: $ngtext-light;
    }

    .left-image {
        float: left;
        display: block;
        border-radius: 6px;
        width: 50%;
        border: 3px solid #444;
    }

    .google-map {
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        top: 10px;
        margin-right: 10px;
        background: url("/images/googlemaps.png") no-repeat center;
    }

    .details {
        float: right;
        display: block;
        width: 50%;
        padding-left: 1em;
    }
}

#map-canvas {
    height: 308px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    border-radius: 6px;
    border: 3px solid #444;
}

.stream-widget {
    height: 500px;
    width: 100%;
    border: none;
}

.partner-logos {
    img {
        vertical-align: middle;
        margin-right: 64px;
    }
}

.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;

    .footer-left,
    .footer-center,
    .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    .footer-left {
        width: 40%;
    }

    h3 span {
        color: #5383d3;
    }

    .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;

        a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            &:hover {
                color: #d84437;
            }
        }
    }

    .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    .footer-center {
        width: 35%;

        i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        i.fa-envelope {
            font-size: 17px;
            line-height: 38px;
        }

        p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

        p span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
        }

        p a {
            color: #5383d3;
            text-decoration: none;;
        }
    }

    .footer-right {
        width: 20%;
    }

    .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;

        span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .footer-icons {
        margin-top: 25px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }
    }

}

@media (max-width: 880px) {
    header {
        .logo-submit a {
            font-size: 18px;
        }
        h1 {
            font-size: 30px;
        }
    }
    section.hero-section {
        .content {

            h2 {
                font-size: 82px;
                margin-top: 90px;
                margin-bottom: 43px;
                > small {
                    font-size: 22px;
                    width: 280px;
                }
            }

        }
    }
    font: bold 14px sans-serif;

    .footer-left,
    .footer-center,
    .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-center i {
        margin-left: 0;
    }

}

.fa-padding {
    padding-top: 9px;
}

.toolbar-background {
    background-color: rgba(51, 51, 51, 0.8) !important;
}

.menu-button-margins {
    margin-right: 64px;
}

#team {
    a {
        display: inline-block;
        backface-visibility: hidden;
        margin: 8px;
        padding: 8px;
        background-color: white;
        border-radius: 2px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition: transform ease 0.3s;
        color: #333;
        font-weight: bold;
        font-size: 12px;
        text-align: center;

        > img {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto 4px;
        }

        .team-twitter {
            font-size: 10px;
            font-weight: normal;
        }

        &:hover {
            transform: scale(1.15);
            color: black;
        }
    }
}

//for fonts
@for $i from 0 through 10 {
    $media: 1000*(10-$i/2)/10+ px;
    $min-media: 1000*(10-($i+1)/2)/10+ px;
    $ratio: (10-$i/2)/10;
    @media (max-width: $media) {

        header {
            .logo-submit a {
                font-size: 18*$ratio+px;
            }
            h1 {
                font-size: 30*$ratio+px;
                white-space: nowrap;
            }
            h2.logo-where {
                font-size: 17*$ratio+px;
            }
        }

    }

}

//for media
@for $i from 0 through 12 {
    $media: 1000*(10-$i/2)/10+ px;
    $min-media: 1000*(10-($i+1)/2)/10+ px;
    $ratio: (10-$i/2)/10;
    @media (max-width: $media) {
        section.hero-section {
            img.angular-logo {
                height: 145*$ratio+px;
                width: 133*$ratio+px;
            }
        }
        .sponsor-logos {
            padding-left: 10*$ratio+px;
            img, .sponsor-logos span {
                margin-right: 6*$ratio+ px;
                max-width: 194*$ratio+ px;
                width: 194*$ratio+ px;
            }
        }
        .partner-logos img {
            margin-right: 64*$ratio+px;
            padding-bottom: 10px;
            max-width: 290px;
        }
        section.hero-section {
            .content {
                h2 {
                    font-size: 83*$ratio+px;
                    margin-top: 192*$ratio+px;
                    margin-bottom: 43*$ratio+px;
                    > small {
                        font-size: 22*$ratio+px;
                        width: 280*$ratio+px;
                    }
                }

            }
        }
    }

}
